<form action="" method="post">
    <h3>Апликација за плаќање на 3-36 рати со Креди</h3>
    <div id="kreddycalculator">
        <div class="header-loan-amount">
            <h2>Износ на кошничка: <span>{{ total }}</span></h2>
        </div>
        <div class="body-loan-number-of-installments">
            <h2>Изберете период на отплата <span><strong id="installments-number">3</strong> месеци</span></h2>
        </div>
        <div class="slidecontainer body-loan-range-slider">
            <input type="range" name="installments" min="3" max="36" value="12" class="slider" id="myRange">
        </div>
        <div class="body-input-embg txtinput">
            <input type="text" name="clientEmbg" id="clientEMBGinput" placeholder="Внесете го вашиот ЕМБГ">
        </div>
        <div class="body-input-personal-id-document-no">
            <select name="clientDocType" id="clientDocType">
                <option value="0">Лична карта</option>
                <option value="1">Пасош</option>
            </select>
            <input type="text" name="clientDocNumber" id="clientDocNumber" placeholder="Број на Лична карта - Пасош">
        </div>
        <input id="agreement-check" type="checkbox" name="kreddy-agreement"> Се согласувам со <a href="https://kupisega.mk/wp-content/plugins/kreddypaymentgateway/assets/PersonalDataDeclarationMK.pdf" target="_blank">условите</a>

        {% for rate in installments %}
            <input id='step{{ loop.index + 2 }}data' type='text' name='step{{ loop.index + 2 }}' class="hidden" value='{{ rate|json_encode() }}' hidden>
        {% endfor %}

        <!-- order info fields -->
        <input type="text" name="kreddyOrderNumber" class="hidden" value="{{ order.order_id }}" hidden="">
        <input type="text" name="KreddyApplicationStatus" class="hidden" value="1" hidden="">
        <input type="text" name="clientFirstName" id="clientFirstName" class="hidden" value="{{ order.firstname }}" hidden="">
        <input type="text" name="clientLastName" id="clientLastName" class="hidden" value="{{ order.lastname }}" hidden="">
        <input type="text" name="clientTelephone" id="clientTelephone" class="hidden" value="{{ order.telephone }}" hidden="">
        <input type="text" name="clientEmail" id="clientEmail" class="hidden" value="{{ order.email }}" hidden="">
        
        <!-- Loan info fields -->
        <input type="text" name="loanAPR" id="loanAPR" class="hidden" value="51.12" hidden="">
        <input type="text" name="loanAPRamount" id="loanAPRamount" class="hidden" value="852" hidden="">
        <input type="text" name="loanAMTP" id="loanAMTP" class="hidden" value="10852" hidden="">
        <input type="text" name="loanFeeAmount" id="loanFeeAmount" class="hidden" value="3617" hidden="">
        <input type="text" name="loanDueDate" id="loanDueDate" class="hidden" value="20202020" hidden="">

        <div id="apply-for-loan-btn" class="kreddy-submit"><input type="submit" value="Аплицирај сега!"></div>
    </div>

    <div id="kreddycalculatorresults">
        <ul>
            <li>Вкупно провизиjа (CBT <strong id="info-apr-percent">47.4 %</strong>) <span id="info-apr">1970 мкд</span></li>
            <li>Вкупен износ за отплата <span id="info-amount-to-pay">26969 мкд</span></li>
            <li>Датум на отплата <span id="info-due-date">21/12/2020</span></li>
            <li>Број на рати <span><strong id="installments-number2">3</strong> рати</span></li>
            <!-- <li>Износ на рата без гарант <span>4322 ден</span></li> -->
            <li>Износ на ратa <span id="info-fee-amount">8990 мкд</span></li>
        </ul>
    </div>

</form>

<script>
    var applyBtn = document.getElementById("apply-for-loan-btn");
    var agreementCheck = document.getElementById("agreement-check");

    var loanAPR = document.getElementById("loanAPR");
    var loanAPRamount = document.getElementById("loanAPRamount");
    var loanAMTP = document.getElementById("loanAMTP");
    var loanFeeAmount = document.getElementById("loanFeeAmount");
    var loanDueDate = document.getElementById("loanDueDate");

    var slider = document.getElementById("myRange");
    var output = document.getElementById("installments-number");
    var output2 = document.getElementById("installments-number2");

    var infoAprPercent = document.getElementById("info-apr-percent");
    var infoApr = document.getElementById("info-apr");
    var infoAmountToPay = document.getElementById("info-amount-to-pay");
    var infoDueDate = document.getElementById("info-due-date");
    var infoFeeAmount = document.getElementById("info-fee-amount");

    var stepData = {};
    var stepValues = {};

    for (var i = 3; i <= 36; i++) {
        var stepVal = 'step' + i + 'value';
        var step = 'step' + i;
        var el = document.getElementById(step + "data");
        var val = el.value;
        stepData[step] = el;
        stepValues[stepVal] = jQuery.parseJSON(el.value);
    }

    var dueDate = moment().add(slider.value, 'months').format('DD/MM/YYYY');
        
    output.innerHTML = slider.value;
    output2.innerHTML = slider.value;

    infoAprPercent.innerHTML = stepValues['step' + slider.value + 'value'].apr + ' %'; 
    infoApr.innerHTML = stepValues['step' + slider.value + 'value'].fee_amount + ' мкд';
    infoAmountToPay.innerHTML = stepValues['step' + slider.value + 'value'].amount_to_pay + ' мкд';
    infoDueDate.innerHTML = dueDate;
    infoFeeAmount.innerHTML = stepValues['step' + slider.value + 'value'].installment_payment + ' мкд';

    loanAPR.value = stepValues['step' + slider.value + 'value'].apr + ' %';
    loanAPRamount.value = stepValues['step' + slider.value + 'value'].fee_amount + ' мкд';
    loanAMTP.value = stepValues['step' + slider.value + 'value'].amount_to_pay + ' мкд';
    loanFeeAmount.value = stepValues['step' + slider.value + 'value'].installment_payment + ' мкд';
    loanDueDate.value = moment(stepValues['step' + slider.value + 'value'].due_date).format('DD.MM.YYYY HH:mm:ss');

    slider.oninput = function() {
        output.innerHTML = this.value;
        output2.innerHTML = this.value;

        dueDate = moment().add(slider.value, 'months').format('DD/MM/YYYY');

        infoAprPercent.innerHTML = stepValues['step' + this.value + 'value'].apr + ' %';
        infoApr.innerHTML = stepValues['step' + this.value + 'value'].fee_amount + ' мкд';
        infoAmountToPay.innerHTML = stepValues['step' + this.value + 'value'].amount_to_pay + ' мкд';
        infoDueDate.innerHTML = dueDate;
        infoFeeAmount.innerHTML = stepValues['step' + this.value + 'value'].installment_payment + ' мкд';

        loanAPR.value = stepValues['step' + this.value + 'value'].apr + ' %';
        loanAPRamount.value = stepValues['step' + this.value + 'value'].fee_amount + ' мкд';
        loanAMTP.value = stepValues['step' + this.value + 'value'].amount_to_pay + ' мкд';
        loanFeeAmount.value = stepValues['step' + this.value + 'value'].installment_payment + ' мкд';
        loanDueDate.value = moment().add(slider.value, 'months').format('DD.MM.YYYY HH:mm:ss');
    }
</script>